{% extends 'app/base.html' %}

{% block body %}
<style>
    .mt_p{
        margin-top: 150px;
        width: 750px;
    }

</style>
<div class="d-flex justify-content-center mt_p mx-auto">
    {% if messages %}
    {% for message in messages %}
        {{message}}
    {% endfor %}
    {% endif %}
    <br/>
   <div>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="first_name" class="form-control mb-2" placeholder="First Name" />
        <input type="text" name="last_name" class="form-control mb-2" placeholder="Last Name" />
        <input type="email" name="email" class="form-control mb-2" placeholder="Email" />
        <input type="text" name="username" class="form-control mb-2" placeholder="Username" />
        <input type="password" name="password" class="form-control mb-2" placeholder="Password" />
        <button type="submit" class="btn btn-dark">Create Profile</button><a href="{% url 'login' %}" class="btn btn-link">Login</a>
       </form> 
   </div>
</div>
{% endblock %}